[submodule "proton-wine"]
	path = wine-valve
	url = http://github.com/gloriouseggroll/proton-wine/
[submodule "wine-staging"]
	path = wine-staging
	url = https://github.com/wine-staging/wine-staging/
[submodule "buildbot"]
        path = buildbot
        url = https://github.com/lutris/buildbot/
