[submodule "proton-wine"]
	path = wine-valve
	url = https://github.com/ValveSoftware/wine.git
[submodule "wine-staging"]
	path = wine-staging
	url = https://github.com/wine-staging/wine-staging.git
[submodule "buildbot"]
	path = buildbot
	url = https://github.com/lutris/buildbot/
